
p{
    color: purple;
}
body{
    background-color: black;
    text-align: center;
    color: white;
}

.titulo{
    font-size:  large;
}

#texto-branco{
    color: white;
}

.top{
    background-color: chocolate;
}

.conteudo{
    background-color: chocolate;
}

.rodape{
    background-color: chocolate;
}